<br>
<br>
<h1>Articles</h1>
<br>
<table class="table table-bordered border-primary">
 <tr>
  <th>Title</th>
  <th></th>
 </tr>
  <% @articles.each do |article| %>
 <tr>
  <td><%= link_to article.title, article %></td>
  <td><%= link_to 'Edit', edit_article_path(article) %></td>
 </tr>
  <% end %>
</table>

<br>

<button type="button" class="btn btn-light"><%= link_to "ADMIN: CREATE NEW ARTICLE", new_article_path %></button>
