<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="/">12 Pieces</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a href="/restaurants" class="nav-link">Restaurants</a>
        </li>
        <li class="nav-item">
          <a href="/articles" class="nav-link">Articles</a>
        </li>
        <li class="nav-item">
          <a href="/static_pages/about" class="nav-link">About/Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>